@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(15, 19, 26);
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    @media (min-width: 640px) {
        font-size: 8rem;
    }
    @media (min-width: 768px) {
        font-size: 10rem;
    }

    @media (min-width: 1024px) {
        font-size: 13rem;
    }
    @media (min-width: 1280px) {
        font-size: 17rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    @media (min-width: 640px) {
        font-size: 4rem;
    }
    @media (min-width: 768px) {
        font-size: 4rem;
    }

    @media (min-width: 1024px) {
        font-size: 6rem;
    }
    @media (min-width: 1280px) {
        font-size: 6rem;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    @media (min-width: 640px) {
        font-size: 2rem;
    }
    @media (min-width: 768px) {
        font-size: 2rem;
    }

    @media (min-width: 1024px) {
        font-size: 4rem;
    }
    @media (min-width: 1280px) {
        font-size: 4rem;
    }
}

h4 {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    white-space: pre-wrap;
    @media (min-width: 640px) {
        font-size: 1.5rem;
    }
    @media (min-width: 768px) {
        font-size: 1.5rem;
    }

    @media (min-width: 1024px) {
        font-size: 2rem;
    }
    @media (min-width: 1280px) {
        font-size: 2rem;
    }
}

p {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    white-space: pre-wrap;
    @media (min-width: 640px) {
        font-size: 1.5rem;
    }
    @media (min-width: 768px) {
        font-size: 1.5rem;
    }

    @media (min-width: 1024px) {
        font-size: 2rem;
    }
    @media (min-width: 1280px) {
        font-size: 2rem;
    }
}
